<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/listProjects.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Список проектов</title>
</head>
<body>
    <div class="wrapper">

        <header class="header">
            <div class="container header__container">
                <a href="/profile" class="logo">
                    <img class="logo__icon" src="/img/logo.png" alt="Логотип">
                </a>
                <ul class="header__menu">
                    <li class="hader__menu__item"><a class="header__menu__item__link" href="/profile">Профиль</a></li>
                    <li class="hader__menu__item"><a class="header__menu__item__link header__menu__item__link--active" href="#">Список проектов</a></li>
                    <li class="hader__menu__item"><a class="header__menu__item__link" href="/listExecutor">Список исполнителей</a></li>
                    <li class="hader__menu__item"><a class="header__menu__item__link" href="/addingExecutor">Добавить исполнителя</a></li>
                    <li class="hader__menu__item"><a class="header__menu__item__link" href="/addingProject">Добавить проект</a></li>
                </ul>
            </div>
        </header>

        <main class="main">
          <div class="container list-projects">
               <section class="list-projects__item">
                    <header class="list-projects__item__header">Планируем</header>
                    <ul id="list-started" class="list-projects__item__list-projects">
                        {{#each listProjectsStarted}}
                            <li class="list-projects__item__list-projects__item list-projects__item__list-projects__item--blue">
                                <form action="/getProjet/{{this.id}}" method="post" class="list-projects__item__list-projects__item__title"><button type="submit" class="list-projects__item__list-projects__item__title__btn">{{this.title}}</button></form>
                                <form method="post" name="formStarted" action="/delProject"><button class="list-projects__item__list-projects__item__btn" type="button"><img data-id="{{this.id}}" data-command="del" data-status="{{this.status}}" class="list-projects__item__list-projects__item__btn__icon" src="/img/delete-icon.png" alt="Удалить"></button></form>
                            </li>
                        {{/each}}
                    </ul>
               </section>
               <section class="list-projects__item">
                    <header class="list-projects__item__header list-projects__item__header--green">В работе</header>
                    <ul id="list-work" class="list-projects__item__list-projects">
                        {{#each listProjectsWords}}
                            <li class="list-projects__item__list-projects__item list-projects__item__list-projects__item--green">
                                <form action="/getProjet/{{this.id}}" method="post" class="list-projects__item__list-projects__item__title"><button type="submit" class="list-projects__item__list-projects__item__title__btn">{{this.title}}</button></form>
                                <form method="post" name="formWork" action="/delProject"><button class="list-projects__item__list-projects__item__btn" type="button"><img data-id="{{this.id}}" data-command="del" data-status="{{this.status}}" class="list-projects__item__list-projects__item__btn__icon" src="/img/delete-icon.png" alt="Удалить"></button></form>
                            </li>
                        {{/each}}
                    </ul>
               </section>
               <section class="list-projects__item">
                    <header class="list-projects__item__header list-projects__item__header--red">Завершенные</header>
                    <ul id="list-finished" class="list-projects__item__list-projects">
                        {{#each listProjectsFinish}}
                            <li class="list-projects__item__list-projects__item list-projects__item__list-projects__item--red" data-idProject="{{this.id}}">
                                <form action="/getProjet/{{this.id}}" method="post" class="list-projects__item__list-projects__item__title"><button type="submit" class="list-projects__item__list-projects__item__title__btn">{{this.title}}</button></form>
                                <form method="post" name="formFinish" action="/delProject"><button class="list-projects__item__list-projects__item__btn" type="button"><img data-id="{{this.id}}" data-command="del" data-status="{{this.status}}" class="list-projects__item__list-projects__item__btn__icon" src="/img/delete-icon.png" alt="Удалить"></button></form>
                            </li>
                        {{/each}}
                    </ul>
               </section>
          </div>
        </main>

        <footer class="footer">Сайт разработан в образовательных целях</footer>
    </div>

    <template id="layout-item">
        <li class="list-projects__item__list-projects__item">
            <form method="post" class="list-projects__item__list-projects__item__title"><button type="submit" class="list-projects__item__list-projects__item__title__btn"></button></form>
            <form method="post" action="/delProject"><button class="list-projects__item__list-projects__item__btn" type="button"><img data-command="del" class="list-projects__item__list-projects__item__btn__icon" src="/img/delete-icon.png" alt="Удалить"></button></form>
        </li>
    </template>

<script src="/js/listProject.js"></script>

</body>
</html>