<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/cards.css">
    <title>Главная</title>
</head>
<body>

    <div class="wrapper">
        
        <aside class="burger" data-hidden="" id="burder">

            <div class="burger__btn-exit" id="js-burger-btn-exit">
                <span class="burger__btn-exit__line burger__btn-exit__line--left"></span>
                <span class="burger__btn-exit__line burger__btn-exit__line--right"></span>
            </div>

            <div class="burger__logo">

                <div class="burger__logo__images">
                    <img src="/img/logo.png" alt="" class="burger__logo__images__icon">
                </div>

                <div class="burger__logo__text">
                    <p class="burger__logo__text__label burger__logo__text__label--size-20">Hospital</p>
                    <p class="burger__logo__text__label">Taking care of you</p>
                </div>

            </div>

            <nav class="burger__menu">
                <ul class="burger__menu__list">
                    <li class="burger__menu__list__item"><a class="burger__menu__list__item__link" href="/home">Список врачей</a></li>
                    <li class="burger__menu__list__item"><a class="burger__menu__list__item__link" href="/reports">Отчеты</a></li>
                    <li class="burger__menu__list__item"><a class="burger__menu__list__item__link" href="/patient">Пациенты</a></li>
                </ul>
            </nav>

            <div class="burger__btns">
                <form action="/profile" class="burger__btns__form" method="post"><button class="burger__btns__form__btn" type="submit">Профиль</button></form>
                <div class="burger__btns__btn"><a href="/" class="burger__btns__btn__link">Выход</a></div>
            </div>

        </aside>

        <div class="burger-btn" id="jd-burger-btn">
            <span class="burger-btn__line"></span>
            <span class="burger-btn__line"></span>
            <span class="burger-btn__line"></span>
        </div>

        <main class="main">
            <div class="container">
               <section class="open-reports__info">
                    <ul class="open-reports__info__list">
                        <li class="open-reports__info__list__item">Автор: <span class="open-reports__info__list__item__label">{{author}}</span></li>
                        <li class="open-reports__info__list__item">Должность: <span class="open-reports__info__list__item__label">{{jobTitle}}</span></li>
                    </ul>
                    <ul class="open-reports__info__list">
                        <li class="open-reports__info__list__item">Дата: <span class="open-reports__info__list__item__label">{{date}}</span></li>
                        <li class="open-reports__info__list__item">Количество активных заявок: <span class="open-reports__info__list__item__label">{{countActiveReports}}</span></li>
                    </ul>
               </section>
               <section class="open-reports__table">
                    <h2 class="open-reports__table__title"></h2>
                    <ul class="open-reports__table__list">
                        {{#each listPatient}}
                            <li class="open-reports__table__list__item">
                                <div class="open-reports__table__list__item__number">{{this.number}}</div>
                                <div class="open-reports__table__list__item__person">{{this.patient}}</div>
                                <div class="open-reports__table__list__item__person">{{this.doctor}}</div>
                                <div class="open-reports__table__list__item__person">{{this.diagnosis}}</div>
                            </li>
                        {{/each}}
                    </ul>
               </section>
            </div>
        </main> 
    </div>
    <script src="/js/main.js"></script>
</body>
</html>