<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/patient.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Главная</title>
</head>
<body>

    <div class="wrapper">
        
        <aside class="burger" data-hidden="" id="burder">

            <div class="burger__btn-exit" id="js-burger-btn-exit">
                <span class="burger__btn-exit__line burger__btn-exit__line--left"></span>
                <span class="burger__btn-exit__line burger__btn-exit__line--right"></span>
            </div>

            <div class="burger__logo">

                <div class="burger__logo__images">
                    <img src="/img/logo.png" alt="" class="burger__logo__images__icon">
                </div>

                <div class="burger__logo__text">
                    <p class="burger__logo__text__label burger__logo__text__label--size-20">Hospital</p>
                    <p class="burger__logo__text__label">Taking care of you</p>
                </div>

            </div>

            <nav class="burger__menu">
                <ul class="burger__menu__list">
                    <li class="burger__menu__list__item"><a class="burger__menu__list__item__link" href="/home">Список врачей</a></li>
                    <li class="burger__menu__list__item"><a class="burger__menu__list__item__link" href="/reports">Отчеты</a></li>
                    <li class="burger__menu__list__item"><a class="burger__menu__list__item__link" href="#">Пациенты</a></li>
                </ul>
            </nav>

            <div class="burger__btns">
                <form action="/profile" class="burger__btns__form" method="post"><button class="burger__btns__form__btn" type="submit">Профиль</button></form>
                <div class="burger__btns__btn"><a href="/" class="burger__btns__btn__link">Выход</a></div>
            </div>

        </aside>

        <div class="burger-btn" id="jd-burger-btn">
            <span class="burger-btn__line"></span>
            <span class="burger-btn__line"></span>
            <span class="burger-btn__line"></span>
        </div>

        <main class="main">
            <div class="container patient">
                <div class="patient-filter" id="js-filter">
                    <p class="patient-filter__label">Оставить только активные заявки:</p>
                    <div class="patient-filter__checked"></div>
                </div>

                <ul class="patient-list">
                    {{#each listPatients}}
                        <li class="patient-list__item" data-status="{{this.status}}">
                            <form action="/getCards/{{this.id}}" class="patient-list__item__form" method="post">
                                <p class="patient-list__item__text">Пациент: {{this.lastName}} {{this.firstName}} {{this.surName}}</p>
                                <p class="patient-list__item__status patient-list__item__status--{{this.status}}">{{#if this.status}}Активная заявка{{else}}Не активная заявка{{/if}}</p>
                                <button class="patient-list__item__btn" type="submit">Открыть карту</button>
                            </form>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </main> 
    </div>

    <script src="/js/main.js"></script>
    <script src="/js/patient.js"></script>
</body>
</html>