<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/project.css">
    <title>{{title}}</title>
</head>
<body>
       <div class="wrapper">
        <header class="header">
            <div class="container header__container">
                <a href="/profile" class="logo">
                    <img class="logo__icon" src="/img/logo.png" alt="Логотип">
                </a>
                <ul class="header__menu">
                    <li class="hader__menu__item"><a class="header__menu__item__link" href="/profile">Профиль</a></li>
                    <li class="hader__menu__item"><a class="header__menu__item__link" href="/listProjects">Список проектов</a></li>
                    <li class="hader__menu__item"><a class="header__menu__item__link" href="/listExecutor">Список исполнителей</a></li>
                    <li class="hader__menu__item"><a class="header__menu__item__link" href="/addingExecutor">Добавить исполнителя</a></li>
                    <li class="hader__menu__item"><a class="header__menu__item__link" href="/addingProject">Добавить проект</a></li>
                </ul>
            </div>
        </header>
        <main class="main">
            <div class="container project__container">
                <header class="project__header project__header--theme-{{theme}}" id="js-header-project" data-status="{{state}}">{{title}} / {{state}}</header>
                <main class="project__table">
                    <div class="project__table__item project__table__item--big">
                       <form class="project__table__item__form" action="/setTask" method="post" name="tasksList">
                            <ul class="project__list__task">
                                {{#each listTasks}}
                                    <li class="project__list__task__item">
                                        <label class="project__list__task__item__label" for="item-{{this.id}}">
                                            <input data-value="{{this.status}}" type="checkbox" class="project__list__task__item__input" {{#if this.status}} checked="checked" {{/if}}  name="tasksListItem" id="item-{{this.id}}">
                                            <div class="project__list__task__item__box"></div>
                                            <span class="project__list__task__item__text">{{this.title}}</span>
                                        </label>
                                    </li>
                                {{/each}}
                            </ul>
                       </form>
                    </div>
                    <div class="project__table__item project__info project__info--theme-{{theme}}">
                       <div class="project__info__main">
                            <p class="project__text">Дедлайн: {{deadline}}</p>
                            <p class="project__text">Проверяет: {{inspectors}}</p>
                            <ul class="project__list__inspectors">
                                <li class="project__list__inspectors__item project__list__inspectors__item--style-none">Исполнители:</li>
                                {{#each performers}}
                                    <li class="project__list__inspectors__item">{{this.firstName}} {{this.lastName}}</li>
                                {{/each}}
                            </ul>
                        </div>
                        <form action="/getStatusProject" method="post" name="getStatusProject" class="project__info__btns">
                            <div class="item-started">
                                <button class="project__info__btns__btn" id="btn-started" type="button">Вернуть на стадию планирования</button>
                            </div>
                            <div class="item-work">
                                <button class="project__info__btns__btn" id="btn-work" type="button">Вернуть в работу</button>
                            </div>
                            <div class="item-finished">
                                <button class="project__info__btns__btn" id="btn-fishined" type="button">Завершить</button>
                            </div>
                        </form>
                    </div>
                </main>
            </div>
        </main>
        <footer class="footer">Сайт разработан в образовательных целях</footer>
    </div>

    <script src="/js/project.js"></script>
</body>
</html>